﻿@using WebShop.Models.ShopModels;
@using Microsoft.AspNetCore.Mvc.Localization

@model IEnumerable<ProductCategory>
@inject IViewLocalizer Localizer

<div class="dropdown category-select-menu">

    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        @Localizer["Categories"]
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

    @foreach (var item in Model)
    {
        <li><a asp-action="Index" asp-controller="Products"  asp-route-productCategoryId="@item.ProductCategoryId">@Html.DisplayFor(c => item.ProductCategoryName)</a></li>
    }

    </ul>
</div>