﻿<!-- View for SelectLanguageViewComponent -->
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using WebShop.ViewComponents

@model IEnumerable<SelectListItem>

@inject IViewLocalizer Localizer

@{ 
    
    var returnPath = Context.Request.Path + Context.Request.QueryString;
}
    <div title="test">
        <form id="selectLanguage" asp-controller="Home" asp-action="SetLanguage" asp-route-returnUrl="@returnPath" method="post" class="form-horizontal" role="form">
            @Localizer["Language:"] <select name="culture" asp-for="@Context.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.Name" asp-items=@Model></select>
        </form>
    </div>



