﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

/* My customizations */



.product-box, .cart-box {
    border-style: solid;
    border-width: thin;
    border-color: black;
    background-color:#f5f5f5;
    height: 270px;
    width: 250px;
    padding: 0.6em;
    margin: 2px;
}
.cart-box {
    height: 350px;
    width: 300px;
}

.product-text-box{
    height: 70px;
}
.cart-box .product-text-box {
    height: 100px;
        background-color: antiquewhite;
    margin: 1em 0 1em 0;
}
.product-box .product-text-box {
    background-color: antiquewhite;
    margin: 1em 0 1em 0;
}
.product-box .product-text-box p {
    padding: 0;
    margin : 0;
}
.image-product-details {
    width: 300px;
    border: solid 3px black
}

.product-image {
    height: 100px;
    max-width: 200px;
    border: 2px solid grey;
}

.product-boxes {
    text-align: center;
    margin-left: 5%;
    width: 90%;
    margin-top: 5%;
}

.body-content, body {
    background-color:aliceblue;    
}



#cart-nr-items {
    margin-top: 10px;
    padding: 1px;
    height: 30px;
    width: 180px;
    background-color:cornflowerblue;
    color: black;
    font-size: 1.3em;
    border: 1px solid grey;
    border-radius: 3px;
    text-align: center;
}

#cart-overlay {
    text-align:left;
    display: none;
    padding: 1em;
    border: 3px solid;
    position: fixed;
    z-index: -10000;
    background-color: white;
    color: black;
    font-size: 1.1em;
    
    width: 400px;
}

#cart-overlay ul {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 20px
}

#cart-overlay ul li {
    padding: 5px;
}

.navbar {
    background-color: lightsteelblue;
    border-bottom: solid 2px black;
}
.category-select-menu {
    margin: 10px;
}