@model WebShop.ViewModels.ProductViewModel

@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@{
    ViewData["Title"] = "Details";
}
@{
    var returnPath = Context.Request.Path + Context.Request.QueryString;

}
<h2>@Html.DisplayFor(model => model.ProductName)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.ProductDescription)</h4>
    <hr />
    <div class="row">
        <div class="col-md-6 pull-right">
            <img src=@Model.ProductImageUrl class="image-product-details">
        </div>
        <div class="col-md-5 text-left bg-info pull-right">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ProductName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProductName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ProductDescription)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProductDescription)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ProductPrice)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProductPrice)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ProductCategory.ProductCategoryName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProductCategory.ProductCategoryName)
                </dd>
                @*<dt>
                        @Html.DisplayNameFor(model => model.ProductImageUrl)
                    </dt>*@


            </dl>
            <form asp-action="AddToCart" asp-controller="Cart" asp-route-returnUrl="@returnPath" asp-route-id="@Model.ProductId" id="addToCartIndex">
                <div class="form-actions">
                    <input type="submit" value="@Localizer["Add to cart"]" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.ProductId" asp-route-returnUrl="@Context.Request.Path">Add to cart</a> |
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.ProductId">@Localizer["Delete"]|</a>
    <a asp-action="Index">Back to List</a>
</div>
