@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model IEnumerable<WebShop.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = Localizer["Title"];
    var returnPath = Context.Request.Path + Context.Request.QueryString;
}

<h2>@Localizer["PageHeader"]</h2>
<h3>@ViewData["test"]</h3>
    <form asp-controller="Products" asp-action="Index" method="get">
        <p>
            @Localizer["Product name:"] <input type = "text" name = "searchTerm" >
            <input type = "submit" value = "@Localizer["search"]" />
        </p>
        @*<select asp-for=@ViewBag.SelectedCategory class="form-control" asp-items="ViewBag.ProductCategoryId"></select>*@

    </form >

<div class="row product-boxes">

    @foreach (var item in Model)
    {
        <div class="col-md-3 col-xs-6 product-box">
            <a asp-action="Details" asp-route-id="@item.ProductId">
                <img src=@item.ProductImageUrl class="product-image">

                <div class="product-text-box">
                    <p>@Html.DisplayFor(modelItem => item.ProductName)</p>
                    <p>@Html.DisplayFor(modelItem => item.ProductPrice)</p>
                    <p>@Html.DisplayFor(modelItem => item.ProductDescription)</p>
                </div>
            </a>
                <form asp-action="AddToCart" asp-controller="Cart" asp-route-returnUrl="@returnPath" asp-route-id="@item.ProductId" id="addToCartIndex">
                    <div class="form-actions">
                        <input type="submit" value="@Localizer["Add to cart"]" class="btn btn-success" />
                    </div>
                </form>
                @*<a asp-action="AddToCart" asp-controller="Cart" asp-route-returnUrl="@Context.Request.Path" asp-route-id="@item.ProductId" id="addToCartIndex">@Localizer["Add to cart"]</a>*@

                @*<p>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">@Localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">@Localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">@Localizer["Delete"]</a>
                </p>*@
</div>

    }
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">@Localizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">@Localizer["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
<p>
    <a asp-action="Create">@Localizer["Create New"]</a>
    @*<input asp-action="Create" class="btn btn-danger" type="button" value="@Localizer["Create New"]"/>*@
</p>