@model WebShop.Models.ShopModels.ProductCategory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCategoryDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCategoryDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductCategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductCategoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
