﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


@model WebShop.ViewModels.CartLinesViewModel
@{
    ViewData["title"] = Localizer["Shopping Cart"];
}

<h1>@ViewData["title"]</h1>

<p>
    @Localizer["TotalPrice"]: @Html.DisplayFor(c => c.TotalPrice)
</p>

@if (Model.Quantity > 0)
{
    <div class="row">
        <div class="col-xs-3">
            <form asp-action="EmptyCart" asp-route-returnUrl="../">
                <div class="form-actions no-color">
                    <input type="submit" value="@Localizer["Empty cart"]" class="btn btn-danger" />
                </div>
            </form>
        </div>
        <div class="col-xs-3">
            <form asp-action="CheckoutOrder">
                <div class="form-actions no-color">
                    <input type="submit" value="@Localizer["Checkout order"]" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
}


        <div class="row product-boxes">
            @foreach (var item in Model.CartLines)
            {
                <div class="col-md-4 col-xs-6 cart-box">

                    <img src=@item.CartLine.Product.ProductImageUrl class="product-image">

                    <div class="product-text-box">
                        <p>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </p>
                        <p>
                            @Localizer["Price"]: @Html.DisplayFor(modelItem => item.ProductPrice) (@Html.DisplayFor(modelItem => item.LinePriceSum))
                        </p>
                        <p>
                            @Localizer["Quantity"]: @Html.DisplayFor(modelItem => item.CartLine.Quantity)
                        </p>
                        <p></p>
                    </div>

                    <form asp-controller="Cart" asp-action="ChangeQuantity" asp-route-id="@item.CartLine.Product.ProductId" method="get">
                        <input type="number" name="newQuantity">
                        <input type="submit" value="@Localizer["Change quantity"]" class="btn btn-default" />
                    </form>

                    <form asp-action="RemoveOneFromCart" asp-route-id="@item.CartLine.Product.ProductId">
                        <div class="form-actions no-color">
                            <input type="submit" value="@Localizer["Remove one item"]" class="btn btn-default" />
                        </div>
                    </form>

                    <form asp-action="RemoveCartLine" asp-route-id="@item.CartLine.Product.ProductId">
                        <div class="form-actions no-color">
                            <input type="submit" value="@Localizer["Remove all"]" class="btn btn-default" />
                        </div>
                    </form>

                </div>
            }
        </div>
