﻿@model string
<div id="klarna-checkout">
    @Html.Raw(Model)
</div>

<script>
    window._klarnaCheckout(function(api) {
        api.on({
            
            'change': function(data) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("OrderConfirmedEmptyCart")',
                    success: function(result) {
                        $("#cart-view-component").html(result);
                    },
                })
            }
        });
    });
</script>