﻿@model WebShop.ViewModels.CartLinesViewModel
@{
    ViewBag.Title = "Removed from cart";
}
<div class="row product-boxes">
    @foreach (var item in Model.CartLines)
    {
        <div class="col-md-3 col-xs-6 product-box">
            <img src=@item.Product.ProductImageUrl class="product-image">
            <div class="product-text-box">
                @Html.DisplayFor(modelItem => item.Product.ProductPrice)
                @Html.DisplayFor(modelItem => item.Quantity)
            </div>
            <p>
                <a asp-action="RemoveFromCart" asp-route-id="@item.ProductId">Delete</a>
            </p>
        </div>
    }
</div>