﻿<!-- View for CartViewComponent -->

@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@using WebShop.ViewModels;

@model CartLinesViewModel

@inject IViewLocalizer Localizer


@{ 
    var returnPath = Context.Request.Path + Context.Request.QueryString;
    
}

<div id="cart-nr-items">
    <span>
        <span class="badge"> @Model.Quantity @Localizer["pcs"]</span> @Html.DisplayFor(x => x.TotalPrice)
    </span>
</div>

<div id="cart-overlay">
    <div class="text-left">
        <ul>
            @foreach (var item in Model.CartLines)
            {
                <li>
                    <span class="badge">@item.CartLine.Quantity</span> @Html.DisplayFor(x => item.ProductName),
                    @Html.DisplayFor(x => item.ProductPrice) (@Html.DisplayFor(x => item.LinePriceSum))
                </li>
            }
        </ul>
    </div>
    <div class="row">
    @if (Model.Quantity > 0)
    {
        <div class="col-md-6 col-xs-6">
            <form asp-action="CheckoutOrder" asp-controller="Cart">
                <div class="form-actions no-color">
                    <input type="submit" value="@Localizer["Checkout order"]" class="btn btn-success" />
                </div>
            </form>
        </div>

        <div class="col-md-6 col-xs-6">
            <form asp-action="EmptyCart" asp-controller="Cart" asp-route-returnUrl="@returnPath">
                <div class="form-actions no-color">
                    <input type="submit" value="@Localizer["Empty cart"]" class="btn btn-danger" />
                </div>
            </form>
        </div>
    }
    </div>
</div>

    @*<p>@Model.Item1@Localizer["pcs"], @Math.Round(Model.Item2, 2)@(new RegionInfo(CultureInfo.CurrentCulture.Name).CurrencySymbol)</p>*@

